@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&display=swap');

:root {
  --color-bg: hsl(217, 54%, 11%);
  --color-card-bg: hsl(216, 50%, 16%);
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(215, 51%, 70%);
  --color-secondary-dark: hsl(215, 32%, 27%);
  --color-tertiary: hsl(178, 100%, 50%);
  --color-tertiary-hover: hsla(178, 100%, 50%, 0.5);

  font-family: 'Outfit', sans-serif;
  color: var(--color-primary);
}

body {
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

main.card {
  flex: 0 1 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background-color: var(--color-card-bg);
  padding: 24px;
  padding-bottom: 32px;
  box-shadow: 0px 25px 50px hsla(0, 0%, 0%, 0.095);
  border-radius: 16px;
}

div.card__img__wrapper {
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

div.card__img__wrapper:hover {
  cursor: pointer;
}

div.card__img__wrapper:hover::before {
  background-color: var(--color-tertiary-hover);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

div.card__img__wrapper:hover::after {
  content: url(images/icon-view.svg);
  position: absolute;
}

img.card__image {
  width: 100%;
  border-radius: inherit;
}

h1.card__title {
  font-size: calc(24 / 16 * 1rem);
  font-weight: 600;
}

h1.card__title:hover {
  color: var(--color-tertiary);
}

p.card__description {
  font-size: calc(18 / 16 * 1rem);
  color: var(--color-secondary);
  font-weight: 300;
}

span {
  font-size: 1rem;
}

span.card__price {
  font-weight: 600;
  color: var(--color-tertiary);
  margin-right: auto;
}

span.card__price::before {
  content: url('images/icon-ethereum.svg');
  margin-right: 6px;
  position: relative;
  top: 2px;
}

span.card__countdown {
  font-weight: 400;
  color: var(--color-secondary);
}

span.card__countdown::before {
  content: url('images/icon-clock.svg');
  margin-right: 6px;
  position: relative;
  top: 2px;
}

div.card__divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-secondary-dark);
}

img.card__author__avatar {
  width: 33px;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
}

span.card__author {
  font-weight: 400;
  color: var(--color-secondary);
  line-height: 33px;
}

a.card__author__name {
  color: var(--color-primary);
  text-decoration: none;
}

a.card__author__name:hover {
  color: var(--color-tertiary);
}
