@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line-dark-blue: hsl(215, 32%, 27%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --card-hover-cyan: hsla(178, 100%, 50%, 0.5);
  --white: hsl(0, 0%, 100%);
  --opac-cyan: hsla(178, 100%, 50%, 0.5);
}