@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

body {
  background-color: hsl(217, 54%, 11%); 
  color: hsl(0, 0%, 100%);
}


.card-line {
  background: hsla(216, 32%, 27%, 1);
  height: 1px;
  width: 302px;
  margin: 24px 24px 16px 24px;
}


footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}