@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line-dark-blue: hsl(215, 32%, 27%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--main-bg); 
  color: var(--white);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100vh;
}

.b-card {
  align-items: flex-start;
  background-color: var(--card-bg);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  height: 543px;
  justify-content: center;
  width: 327px;
  padding: 1rem;
}

.b-card__img {
  border-radius: 8px;
  width: 95%;
  margin: auto;
}

.b-card__title {
  font-size: 22px;
  font-weight: 600;
}

.b-card__title:hover {
  color: var(--cyan);
  cursor: pointer;
  font-weight: 700;
}

.b-card__text {
  color: var(--soft-blue);
  font-weight: 300;
  line-height: 26px;
  padding: 0.7rem 0;
}

.b-card__value {
  color: var(--cyan);
  font-size: 15px;
  font-weight: 600;
}

.b-card__countdown {
  font-size: 15px;
}

.b-card--infos-flex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}


.b-line {
  background: hsla(216, 32%, 27%, 1);
  height: 1px;
  width: 302px;
  margin: 24px 24px 16px 24px;
}

footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: var(--card-bg);
  padding: 1rem 0;
}